:root {
  --primarycolour: lightslategrey;
  --box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

img {
  width: 450px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
.pages {
  display: flex;
  justify-content: space-evenly;
}

.container {
  max-height: 100%;
}

.page-photos {
  display: flex;
}

.container {
  background: white;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  background: var(--primarycolour);
}
